body {
    background-color: rgb(170, 231, 211);
}

.container {
    margin-top: 30px;
    margin-left: 20px;
}

.input-control {
    padding: 10px;
    border: 2px solid;
    border-radius: 4px;
}

.country-container {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.main-container {
    display: flex;
    align-items: center;
}

